/* @import "@mdxeditor/editor/style.css"; */
@import url("@radix-ui/colors/tomato-dark.css");
@import url("@radix-ui/colors/mauve-dark.css");

.markdown-editor {
   /* font-family: var(--font-geist-sans) !important; */
}

.mdxeditor-popup-container {
   /* display: none; */
   height: 0px;
}

.markdown-editor ._selectTrigger_f3hmk_308 {
   background: var(--color-background) !important;
   border-color: var(--color-input) !important;
   border-width: 1px !important;
   border-style: solid !important;
   border-radius: var(--radius-lg) !important;
   height: calc(var(--spacing) * 8) /* 2rem = 32px */;
}

.mdxeditor-select-content {
   background: var(--color-popover) !important;
   border-color: var(--color-input) !important;
   border-width: 1px !important;
   border-style: solid !important;
   border-radius: var(--radius-lg) !important;
   overflow: hidden;
   color: var(--color-popover-foreground) !important;
}

.mdxeditor-select-content [role="presentation"] {
   box-shadow: none !important;
}

.mdxeditor-select-content [role="option"] {
   border-radius: var(--radius-lg) !important;
}

.mdxeditor-select-content [role="option"]:hover {
   cursor: pointer;
   background: var(--color-accent) !important;
}

.mdxeditor-select-content [role="option"][data-highlighted] {
   background: var(--color-accent) !important;
   color: var(--color-popover-foreground) !important;
}

.mdxeditor-select-content [role="option"][data-state="checked"] {
   background: var(--color-accent) !important;
   color: var(--color-popover-foreground) !important;
}

.markdown-editor button:hover {
   cursor: pointer !important;
   background: var(--color-muted) !important;
}

.markdown-editor button {
   border-radius: var(--radius-lg) !important;
   color: var(--color-foreground) !important;
}

.markdown-editor button svg {
   color: var(--color-foreground) !important;
}

.markdown-editor button:disabled svg {
   color: var(--color-muted-foreground) !important;
}

.markdown-editor button[aria-checked="true"] svg {
   color: var(--color-foreground) !important;
}

.markdown-editor button[aria-checked="true"] {
   background: var(--color-muted) !important;
}

.markdown-editor ._selectTrigger_f3hmk_308 span {
   color: var(--color-foreground) !important;
}

.mdxeditor-toolbar {
   border-radius: 0px;
   background-color: var(--color-background) !important;
   position: sticky;
   top: 0;
   border: 0px;
   border-color: transparent;
   /* border-bottom: 1px solid var(--color-muted); */
   padding-left: 0px;
   padding-right: 0px;
   padding-top: 1rem;
   padding-bottom: 1rem;
   gap: calc(var(--spacing) * 4) /* 1rem = 16px */;
}

.mdxeditor-toolbar ._toolbarToggleItem_f3hmk_208 {
   width: calc(var(--spacing) * 8) /* 2rem = 32px */;
   height: calc(var(--spacing) * 8) /* 2rem = 32px */;
   display: flex;
   justify-content: center;
}

.mdxeditor-toolbar ._toolbarGroupOfGroups_f3hmk_219 {
   margin: 0px;
}

.mdxeditor-toolbar ._tooltipTrigger_f3hmk_676 {
   width: fit-content !important;
   display: flex;
   justify-content: center;
}

/* .dark ._codeMirrorToolbar_f3hmk_408 ._iconButton_f3hmk_456 svg{
   color: var(--color-background) !important;
}

._codeMirrorToolbar_f3hmk_408 ._iconButton_f3hmk_456:hover svg{
   color: var(--color-foreground) !important;
} */

._codeMirrorToolbar_f3hmk_408 {
   background: var(--color-background) !important;
}

.markdown-editor [role="checkbox"] {
   padding-top: 20px !important;
}

.markdown-editor code span {
   background: var(--color-muted) !important;
}

.dark .dark-editor {
   --accentBase: var(--tomato-1);
   --accentBgSubtle: var(--tomato-2);
   --accentBg: var(--tomato-3);
   --accentBgHover: var(--tomato-4);
   --accentBgActive: var(--tomato-5);
   --accentLine: var(--tomato-6);
   --accentBorder: var(--tomato-7);
   --accentBorderHover: var(--tomato-8);
   --accentSolid: var(--tomato-9);
   --accentSolidHover: var(--tomato-10);
   --accentText: var(--tomato-11);
   --accentTextContrast: var(--tomato-12);

   --baseBase: var(--mauve-1);
   --baseBgSubtle: var(--mauve-2);
   --baseBg: var(--mauve-3);
   --baseBgHover: var(--mauve-4);
   --baseBgActive: var(--mauve-5);
   --baseLine: var(--mauve-6);
   --baseBorder: var(--mauve-7);
   --baseBorderHover: var(--mauve-8);
   --baseSolid: var(--mauve-9);
   --baseSolidHover: var(--mauve-10);
   --baseText: var(--mauve-11);
   --baseTextContrast: var(--mauve-12);

   --admonitionTipBg: var(--cyan4);
   --admonitionTipBorder: var(--cyan8);

   --admonitionInfoBg: var(--grass4);
   --admonitionInfoBorder: var(--grass8);

   --admonitionCautionBg: var(--amber4);
   --admonitionCautionBorder: var(--amber8);

   --admonitionDangerBg: var(--red4);
   --admonitionDangerBorder: var(--red8);

   --admonitionNoteBg: var(--mauve-4);
   --admonitionNoteBorder: var(--mauve-8);

   /* font-family: var(--font-geist-sans); */

   color: var(--baseText);
   --basePageBg: black;
   background: var(--basePageBg);
}
