# ==========================================
# Carpetas de Dependencias e Instalación
# ==========================================
node_modules/
**/node_modules/
.pnpm-store/
**/.pnpm-store/

# ==========================================
# Next.js (Frontend)
# ==========================================
.next/
**/.next/
out/
build/

# ==========================================
# Strapi (Backend)
# ==========================================
.cache/
**/.cache/
build/
**/build/
.tmp/
**/.tmp/
.strapi/
**/.strapi/

# Base de datos local de Strapi (SQLite)
*.db
*.db-journal
**/data/*.db

# ==========================================
# Variables de Entorno y Credenciales (¡Súper Importante!)
# ==========================================
.env
*.env
.env.local
.env.development.local
.env.test.local
.env.production.local
**/.env*

# ==========================================
# Sistema y Logs
# ==========================================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.DS_Store
Thumbs.db